.naiyou {

    display: flex;
    flex-direction: column;
}

span {
    background-color: red;
    border-radius: 10px;
}

.info {

    background-color: rgb(251, 251, 251);
    border-radius: 10px;
    width: 30%;
    margin: auto;
    padding: 15px;
}

#head p {
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 3px solid;
    border-color: rgb(109, 132, 234);
    color: rgb(44, 211, 136);
}

#foot p {
    padding-top: 40px;
    text-align: center;
    border-top: 3px solid;
    border-color: rgb(109, 132, 234);
}

input[type="text"] {
    border-radius: 3px;

}

input[type="number"] {
    border-radius: 3px;

}

input[type="submit"] {
    border-radius: 6px;

}

select {
    border-radius: 5px;

}

textarea {
    width: 400px;
    height: 200px;
    border-radius: 5px;
}

body {
    background-color: rgb(184, 254, 254);
}